header{
  height: 50px;
  display: flex;
  align-items: center;
  color: white;
  .logo{
    margin-left: 50px;
    cursor: pointer;
    a{
      text-decoration: none;
      color: white;
      font-weight: bold;
    }
  }

  .nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    a{
      text-decoration: none;
      color: white;
      margin-right: 20px;
    }
    a:hover{
      color: yellowgreen;
    }
  }
}


.block{
  color: white;
  position: relative;
  height: 100vh;
  footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    a{
      text-decoration: none;
      color: white;
      font-size: 15px;
    }
  }
}


.text-title {
  padding: 20px;
}


@media (max-width: 330px) {
  header{
    .logo{
      margin-left: 10px;
      a{
        font-size: 15px;
      }
    }
  }


  .nav, {
    a{
      font-size: 15px;
    }
  }
}

.create-room{
  margin-left: 20px;
}

.rooms {
  margin-left: 20px;
  margin-top: 40px;
}
