<div class="block">
  <header class="bg-primary">
    <div class="logo">
      <a routerLink = "/" (click)="onClick(true)">AnguProj</a>
    </div>
    <div class="nav">
      <b><a routerLink="/calc" (click)="onClick(false)">Калькулятор</a></b>
      <b><a routerLink="/todo" (click)="onClick(false)">ToDO</a></b>
    </div>

  </header>

  <div class="text-title text-dark" *ngIf="isShow">
    <h4>В данном проекте реализовано:</h4>
    <ul>
      <li>routing</li>
      <li>event emitter</li>
      <li>bootstrap</li>
      <li>Two-Way Binding</li>
      <li>scss</li>
      <li>Небольшое погружение в NodeJS (https://github.com/perm-59/nodejs-room)</li>
    </ul>
  </div>

  <div class="create-room">
    <div>
      <input type="text" [(ngModel)]="newRoom">
      <button class="btn" (click)="createRoom()">Создать комнату</button>
    </div>

    <div>
      <button class="btn btn-info" (click)="getRoom()">Получить все комнаты</button>
    </div>
  </div>

  <div class="rooms">
    <div *ngFor="let room of rooms">
      <p class="text-dark">{{room}}</p>
    </div>
  </div>



  <div *ngIf="!isShow">
    <router-outlet></router-outlet>
  </div>


  <footer class="bg-primary">
    <a href="mailto:rama@inbox.ru?subject=Вопрос">Напишите мне</a>

  </footer>
</div>
